
@*<div class="row">
    <div class="col-lg-4">
        <h3 class="text-center">Get All</h3>
        <button id="getAllBtn" class="btn btn-primary center-block">Get</button>
        <div id="getAllContent"></div>
    </div>

    <div class="col-lg-4">
        <h3 class="text-center">New</h3>
        <div class="row">
            <div class="col-lg-6">
                From:
                <input type="date" class="" />
            </div>
            <div class="col-lg-6">
                To:
                <input type="date" class="" />
            </div>
        </div>
        <br />
        <div class="text-center">
            <button class="btn btn-primary" >Add</button>
        </div>
    </div>

    <div class="col-lg-4">
        <h3 class="text-center">Get Range</h3>
        <div class="row">
            <div class="col-lg-6">
                From:
                <input type="date" class="" />
            </div>
            <div class="col-lg-6">
                To:
                <input type="date" class="" />
            </div>
        </div>
        <br />
        <div class="text-center">
            <button class="btn btn-primary">Get Ranges</button>
        </div>
    </div>
</div>*@