
@{
    ViewBag.Title = "Register";
}

<div class="text-center">
    <h1 class="h3 mb-3 font-weight-normal">Please fill all of this fieds</h1>
    <br />
    <label for="inputEmail" class="">Email address</label>
    <input type="email" id="registerEmail" class="form-control center-block " placeholder="Email address" required="" autofocus="">
    <br />
    <label for="inputPassword" class="">Password</label>
    <input type="password" id="registerPassword" class="form-control center-block" placeholder="Password" required="">
    <label for="inputPassword" class="">Confirm Password</label>
    <input type="password" id="confirmRegisterPassword" class="form-control center-block" placeholder="Password" required="">
    <br />
    <button id="register" class="btn btn-lg btn-primary">Submit</button>
</div>


